<html>
    <head>
        <link rel="stylesheet" href="css/styleAddForm.css">
    </head>
    <body>
        <form class="form" action="/playlists/create" method="post" >
            <p style="font-family: Arial, Helvetica, sans-serif; color: white; font-size: 70px; margin-bottom: 10px;">Add Playlist</p>
            <input style="text-align: center;width: 360px; height: 30px;" type="text" name="name" placeholder="Enter playlist name" >
            <br><br>
            <button type="submit" style="color: white; background-color: rgb(157, 107, 197); border: 0px; padding:10px; width: 360px;">Confirm</button>
        </form>
    </body>
</html>