<html>
    <head>
        <link rel="stylesheet" href="css/styleMain.css">
    </head>
    <body>
        <div class="player">
        <audio id="audioPlayer001" style="max-width:80%; width: 80%; " >
             <source src="media/test.mp3" type="audio/mpeg">
        </audio>
        </div>


        <script src="build/jquery.js"></script>
        <script src="build/mediaelement-and-player.min.js"></script>
        <link rel="stylesheet" href="build/mediaelementplayer.css" />
        <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/3.2.4/mediaelementplayer.css" rel="stylesheet"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mediaelement/3.2.4/mediaelement-and-player.min.js"></script>
        <script src="build/custom.js"></script>  
    </body>
</html>